<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>
    <section class="section header">
        <ul class="main-menu">
            <li><a routerLink='dashboard/songs'>List Songs</a></li>
            <li><a routerLink='dashboard/songs/new'>Create Songs</a></li>

            <button routerLink="login" class="btn btn-primary">Login</button>
            <button (click)="logout()" class="btn btn-primary">Logout</button>
        </ul>
    </section>
</body>
</html>
    