<!-- <header>
    <div class="header__search">
        <nav class="navbar-menu">
            <ul class="main-menu">
                TODO: Reorganizar lista de enlaces
                <li><a routerLink="dashboard/users">peooo</a></li>
                <li><a routerLink="dashboard/users/new">users</a></li>
                <li><a routerLink="dashboard/events/new">Events</a></li>
                <li><a routerLink='dashboard/songs'>List Songs</a></li>
                <li><a routerLink='dashboard/songs/new'>Create Songs</a></li>
                <li><a routerLink="dashboard/albums">Listar álbumes</a></li>

                <a class="btn btn-primary" routerLink="login">login</a>
                <a href="#" class="btn btn-primary" (click)="logout(); $event.preventDefault();">logout</a>
            </ul>
        </nav>
    </div>
</header> -->


<header>
    <h1><a routerLink="home">Infinity Records</a></h1>
    <nav>
        <ul class="main-menu">
                <!-- TODO: Reorganizar lista de enlaces -->
            
                <!-- <li><a routerLink="dashboard/users/new">users</a></li> -->
                <li><a routerLink="dashboard/events">Events</a></li>
                <li><a routerLink='dashboard/songs'>List Songs</a></li>
                <li><a routerLink="dashboard/albums">Listar álbumes</a></li>
                <li><a routerLink="dashboard/albums/new">Create albums</a></li>
                <li><a routerLink="artists">Artistas</a></li>
                <li><a routerLink="albums">Albums</a></li>  
                @if( user?.role === 'admin' ) {
                <li>
                    <a routerLink="dashboard/users">Listar usuarios</a>
                </li>
                }

                <a class="btn btn-primary" routerLink="register">Register</a>
                <a class="btn btn-primary" routerLink="login">login</a>
                <a href="#" class="btn btn-primary" (click)="logout(); $event.preventDefault();">logout</a>
            </ul>
    </nav>
</header>




