<header>
  <h1 routerLink="home" class="logo">Infinity Records</h1>

  <!-- Botón hamburguesa solo visible en móviles -->
  <button class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav>
    <ul class="main-menu" [class.open]="menuOpen">

      @if( !!userLogged && userLogged.role == 'admin' ) {
        <li><a routerLink="dashboard/songs">Listar Canciones</a></li>
        <li><a routerLink="dashboard/albums">Listar álbumes</a></li>
        <li><a routerLink="dashboard/events">Listar eventos</a></li>
      }

      @if( !!userLogged && userLogged.role == 'artists' ) {
        <li>
          <a href="#" (click)="toggleSubmenu('events', $event)">Eventos</a>
          <ul class="submenu" [class.open]="openSubmenu === 'events'">
            <li><a routerLink="dashboard/events/new">Crear eventos</a></li>
          </ul>
        </li>

        <li>
          <a href="#" (click)="toggleSubmenu('albums', $event)">Álbumes</a>
          <ul class="submenu" [class.open]="openSubmenu === 'albums'">
            <li><a routerLink="dashboard/albums/new">Crear álbumes</a></li>
          </ul>
        </li>

        <li>
          <a href="#" (click)="toggleSubmenu('songs', $event)">Canciones</a>
          <ul class="submenu" [class.open]="openSubmenu === 'songs'">
            <li><a routerLink="dashboard/songs/new">Crear canciones</a></li>
          </ul>
        </li>

        <li><a routerLink="artists">Artistas</a></li>

        <li><a routerLink="profilePrivate">Perfil</a></li>
      }

      @if ( !!userLogged && userLogged.role == 'users' ) {
        <li><a routerLink="events">Eventos</a></li>
        <li><a routerLink="artists">Artistas</a></li>
        <li><a routerLink="albums">Álbumes</a></li> 
        <li><a routerLink="songs">Canciones</a></li> 
      }

      @if ( !userLogged ) {
        <li><a routerLink="events">Eventos</a></li>
        <li><a routerLink="artists">Artistas</a></li>
        <li><a routerLink="albums">Álbumes</a></li>
        <li><a routerLink="songs">Canciones</a></li>
        <li><a class="btn" routerLink="login">Acceder</a></li>
        <li><a class="btn" routerLink="register">Registrarse</a></li>
      }

      @if ( userLogged ) {
        <a href="#" class="btn btn-primary" (click)="logout(); $event.preventDefault();">Salir</a>
      }

    </ul>
  </nav>
</header>
