<section class="hero">
    <video #bgVideo autoplay muted loop playsInline id="bg-video">
        <source src="video/globe.mp4" type="video/mp4" />
        Tu navegador no soporta video en HTML5.
    </video>
    <div class="hero-content">
        <h2>Descubre artistas emergentes</h2>
        <p>Explora, escucha y apoya talento nuevo en la escena musical.</p>
        <button>Explorar ahora</button>
    </div>
</section>

<div class="Artists">
    <h1>Artists</h1>
</div>

<div class="artist-wrapper">
    <button (click)="prevSlide()">&#10094;</button>

    <div class="artist-container" #artistContainer>
        @for (artist of artists; track artist._id) {
        <div class="artist-card">
            <img [src]="artist.profileImage" [alt]="artist.name">
            <div class="artist-info">
                <h3>{{ artist.name }}</h3>
                <p>{{ artist.genresText }}</p>
            </div>
        </div>
        }
    </div>

    <button (click)="nextSlide()">&#10095;</button>
</div>

<div class="background-infinity">
    <h1>
        RECORDS
        MUSIC
        TEAM
    </h1>

    <p>We turn passion into hits, and hits into history</p>
</div>


<!-- TARJETAS DE ARTISTAS -->
<!-- Songs Section -->
<div class="songs-section">
    <h1>Songs</h1>

    <div class="songs-wrapper">
        <button class="nav-btn left" (click)="prevSlideSongs()">&#10094;</button>

        <div class="songs-container" #songsCarousel>
            @for (song of songs; track song._id) {
            <div class="song-card">
                <img [src]="song.coverUrl" [alt]="song.title" />
                <div class="song-info">
                    <h3>{{ song.title }}</h3>
                </div>
            </div>
            }
        </div>

        <button class="nav-btn right" (click)="nextSlideSongs()">&#10095;</button>
    </div>
</div>


<!-- INFINITY TV -->
<section class="infinity-tv">
    <h3>Events </h3>
    <p class="tv-subtitle">Conoce el movimiento desde adentro</p>
</section>

<div class="event-wrapper">
    <button class="nav-btn" (click)="prevSlideEvents()">&#10094;</button>

    <div class="event-container" #eventCarousel>
        @for (event of events; track event._id) {
        <div class="event-card">
            <img [src]="event.image" [alt]="event.title">
            <div class="event-info">
                <h3>{{ event.title }}</h3>

            </div>
        </div>
        }
    </div>

    <button class="nav-btn" (click)="nextSlideEvents()">&#10095;</button>
</div>


<!-- FOOTER -->
<footer>
    <p>© 2025 Infinity Records</p>
</footer>