
<div class="page-songs song-list">
    <h1>Songs List</h1>
    <a href="#" routerLink="/dashboard/songs/new">Crear nueva reserva</a>
    
    @if (songs.length>0) {
     <table border="1">
        <thead>
            <th>
                title
            </th>
            <th>
                Cover Url
            </th>
            <th>
                File Url
            </th>
            <th>
                release Date
            </th>
            <th>
                Genre
            </th>
            <th>
                authors
            </th>
            <th>
                productors
            </th>
            <th>
                Album
            </th>
            <td>
                Acciones
            </td>
        </thead>
        <tbody>
            @for (song of songs; track $index) {
            <tr>
                <td>{{ song.title }}</td>
                <td>
                    <img class="cover-image" [src]="song.coverUrl" [alt]="song.title">
                </td>
                <td>{{ song?.fileUrl }}</td>
                <td>{{ song?.releaseDate | date}}</td>
                <td>{{ song?.genre }}</td>
                <td>{{ song?.authors }}</td>
                <td>{{ song?.productors }}</td>
                <td>{{ song?.albumId }}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/dashboard', 'songs', 'edit', song._id]" href="#">Actualizar</a>
        
                    <a class="btn btn-secondary" href="#" (click)="onDelete(song._id); $event.preventDefault() ">Delete </a>
                </td>
            </tr>
            }           
        </tbody>
    </table>

    }
    @else{
        <h3>No hay canciones registradas</h3>
    }
    
</div>