<!-- <pre>{{ albums | json }}</pre>   -->

 <div class="page-albums list">
    <h1>Albums List</h1>

    <div class="album-list">
        <a href="#" routerLink="/dashboard/albums/new">Crear nuevo album</a>
        <table border="1">
        <thead>
            <th>
                Image Cover
            </th>
            <th>
                Title
            </th>
            <th>
                release Date
            </th>
        </thead>
        <tbody>
            @if( albums.length > 0 ) {
                @for ( album of albums; track $index ) {
                    <tr>
                        <td>
                            <img class="cover-image" [src]="album.cover_url" alt="">
                        </td>
                        <td>{{ album.title }}</td>
                        
                        <td>{{album.date_release | date}}</td>
                        <td>
                        <a class="btn btn-primary" href="#" [routerLink]="['/dashboard', 'albums', 'edit', album._id]">Actualizar</a>
                        <a class="btn btn-secondary" href="#"
                            (click)="onDelete(album._id); $event.preventDefault()">Delete</a>
                        </td>
                    </tr>
                }   
            }
            @else {
                <p>No hay albumnes registrados</p>
            }

        
        </tbody>
    </table>

    </div>

    
</div>

<main>

        <section class="albums-container">
            @for (album of albums; track album._id) {
            <div class="album-card" #albumCard>
                <img [src]="album.cover_url" alt="album.title">
                <div class="info">
                    <h3>{{ album.title }}</h3>
                    <p>{{ album.date_release | date }}</p>
                </div>
            </div>
            }
        </section>
        <a href="#" routerLink="/dashboard/albums/new">Crear nuevo album</a>

        <section class="news-section">
            <h2>Últimos Lanzamientos</h2>
            <div class="news-cards">
                <div class="news-card">
                    <img src="./img/yhlqmdlg.webp" alt="YHLQMDLG">
                    <h3>YHLQMDLG</h3>
                    <p>El álbum que redefinió el trap latino.</p>
                </div>
                <div class="news-card">
                    <img src="./img/rauw-vice-versa.webp" alt="Vice Versa">
                    <h3>Vice Versa</h3>
                    <p>Rauw Alejandro sorprende con un estilo fresco y único.</p>
                </div>
                <div class="news-card">
                    <img src="./img/el cantante del ghetto.webp" alt="El Cantante del Ghetto">
                    <h3>El Cantante del Ghetto</h3>
                    <p>Ryan Castro presenta su sonido callejero con pura energía.</p>
                </div>
            </div>
        </section>
    </main>